<tr>
  <td>
    <div id="avatar">
      <img src="<%= status.user.avatar_url(:thumb) %>" alt="avatar" />
    </div><br/>
    <span><%= status.user.fullname %></span>
  </td>
  <td><%= status.status %></td>
  <td><%= link_to 'Show', status %></td>
  <td>
    <% if policy(status).update? %>
      <%= link_to 'Edit', edit_status_path(status) %>
    <% end %>
  </td>
  <td>
    <% if policy(status).destroy? %>
      <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>